<!-- target: TPL_organization_alipay_detail -->
<div class="organization-alipay-detail">
    <div class="bbmc-content">
        <div class="form-block">
            <div class="form-body">
                <div class="form-row" v-if="enabled">
                    <div class="form-key"><span class="success-title"><i class="ui-icon-tick"></i>开通成功</span></div>
                    <div class="form-value">
                        现在将收款账户选为“自有对公账户”就可以使用对公账户收款了
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-key">支付宝账号：</div>
                    <div class="form-value">
                        ${payAccount.account.seller}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-key">合作者身份PID：</div>
                    <div class="form-value">
                        ${payAccount.account.partner}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-key"> 支付宝公钥：</div>
                    <div class="form-value">
                        <div data-ui-id="ali-public-key"
                             data-ui-type="TextBox"
                             data-ui-required="required"
                             data-ui-width="400"
                             data-ui-height="80"
                             name="ali_public_key"
                             data-ui-mode="textarea"
                             data-ui-value="@payAccount.account.aliPublicKey" data-ui-read-only="true">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-key">RSA密钥：</div>
                    <div class="form-value">
                        <div data-ui-id="rsaPublicKey"
                             data-ui-type="TextBox"
                             data-ui-required="required"
                             data-ui-width="400"
                             data-ui-height="80"
                             name="rsaPublicKey"
                             data-ui-mode="textarea"
                             data-ui-value="@payAccount.account.rsaPublicKey" data-ui-read-only="true">
                        </div>
                        <div data-ui-id="copyRSA"
                             data-ui-type="Clipboard"
                             data-ui-clipboard-text="@payAccount.account.rsaPublicKey" style="float:none;display:inline;color: #3291da;cursor: pointer">复制</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-key"></div>
                    <div class="form-value">
                        <esuibox v-if="!enabled">
                            <button data-ui-type="Button" data-ui-id="updateAlipayBtn" data-ui-skin="spring" type="button" @click="updateAlipay">修改</button>
                            <button data-ui-type="Button" data-ui-id="ennableAlipayBtn" data-ui-skin="spring" type="button" @click="ennableAlipay">启用</button>
                        </esuibox>
                        <esuibox v-else>
                            <button data-ui-type="Button" data-ui-id="closeAlipayBtn" data-ui-skin="spring" type="button" @click="closeAlipay">停用</button>
                        </esuibox>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- target: TPL_organization_alipay_detail_child -->
<!-- import: TPL_organization_alipay_detail -->
