/**
 * @file [Please Input File Description]
 * @author ()
 */

.order-tuan-list {

  .field {
    line-height: 30px;
    margin: 5px 0;
    label {
      vertical-align: middle;
    }
    .ui-select {
      vertical-align: middle;
    }
  }
  .ui-boxgroup-horizontal {
    display: inline-block;
  }
  a{
    text-decoration: none;
  }
  .ui-table-subrow {
      border: 1px solid @bb-border-color ;
      background: @bb-main-bgcolor;
      .dl-horizontal {
        color: #f2f2f2;
      }
  }

}