<!DOCTYPE html>
{{assign var="STATIC_URL" value=$smarty.const.STATIC_URL}}
{{assign var="CHEDAMAI_URL" value=$smarty.const.CHEDAMAI_URL}}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="_csrf" content="{{$app->request->csrfToken}}">
    <title>入场签到</title>
    <link rel="stylesheet" href="/static/css/activity/common.less">
    <link rel="stylesheet" href="/static/css/activity/sign-in.less">
    <script>
        var GLOBAL = {};
        GLOBAL['STATIC_URL'] = '{{$STATIC_URL}}';
        {{if $app->user->isGuest}}
        GLOBAL['USER'] = {isGuest:true};
        {{else}}
        GLOBAL['USER'] = {
            isGuest:false,
            phone: '{{$app->user->getIdentity()->phone}}'
        };
        {{/if}}
        console.log({{json_encode($signup)}});
        console.log({{json_encode($activity)}});
    </script>
    {{include file="includes/tongji.html"}}
</head>
<body>
<noscript>
    <div class="nojs">
        <p>您的浏览器已经禁用了JavaScript脚本的执行，这会影响您正常使用本站的功能。</p>
    </div>
</noscript>
<div class="container">
    <div class="tuan-info">
        <div class="icon-sign"></div>
        <h1>{{$activity.name}}</h1>
        <p>
            {{if $activity.type eq 1}}
            <a href="/activity/coupon/{{$activity.id}}.html">查看本活动</a>
            {{elseif $activity.type eq 2}}
            <a href="/activity/groupon/{{$activity.id}}.html">查看本活动</a>
            {{/if}}
        </p>
    </div>
    {{if $signup}}
    <div class="order-info{{if $signup.signin_status == 1}} order-signined{{/if}}">
        <div class="item-title">
            <h2>报名信息</h2>
        </div>
        <ul>
            {{foreach $signup.options as $opt}}
            <li>{{$opt.key}}：<span>{{implode(',', $opt.values)}}</span></li>
            {{/foreach}}
            <li>姓名：<span>{{$signup.username|default:'匿名'}}</span></li>
            <li>手机号：<span>{{$signup.phone}}</span></li>
        </ul>
        {{if $signup.signin_status == 0}}
        <div class="item-content">
            <button class="btn" type="button" id="signin" data-signupid="{{$signup.id}}">确认签到</button>
        </div>
        {{/if}}
    </div>
    {{else}}
    <div class="order-info">
        <div class="item-title">
            <h2>报名信息</h2>
        </div>
        <p class="tips">您还未报名活动~</p>
        <div class="item-content">
            {{if $activity.type eq 1}}
            <a href="/activity/coupon/{{$activity.id}}.html?signin=1">立即报名</a>
            {{elseif $activity.type eq 2}}
            <a href="/activity/groupon/{{$activity.id}}.html?signin=1">立即报名</a>
            {{/if}}
        </div>
    </div>
    {{/if}}
</div>
<script src="/static/libs/rem.js"></script>
<script src="/static/libs/zepto.min.js"></script>
<script src="/static/ui/frozen.js"></script>
<script src="/static/js/activity/signin.js"></script>
</body>
</html>
