<!-- target: TPL_tuan_list -->
<div class="tuan-list">
    <!-- use: TPL_common_page_header_simple(title="活动列表") -->
    <!-- use: TPL_common_page_footer(name="tuan") -->
    <section class="ui-container">
        <search-box name="search" placeholder="按名称搜索"></search-box>
        <div class="ui-row filterbar">
            <div class="ui-col ui-col-67">共<i v-text="totalCount"></i>场</div>
            <div class="ui-col ui-col-33 text-right">
                <!--// 待定-->
            </div>
        </div>
        <listview v-ref:listview :api="api.listTuan" :page-no="1" :page-size="15">
            <ul class="ui-list ui-list-pure ui-list-link ui-list-active ui-list-cover ui-border-t" v-cloak v-if="tuans.length">
                <li class="ui-border-b" v-for="tuan in tuans" @click="redirect('/tuan/detail', {tuan_id: tuan.id})">
                    <h4>{{tuan.title}}</h4>
                    <p>
                        活动时间：{{tuan.tuan_time|date 'YYYY-MM-DD HH:mm'}}
                        <template v-if="tuan.status==0">
                            <i class="tuan-status tuan-status-offline">未上线</i>
                        </template>
                        <template v-if="tuan.status==1">
                            <i class="tuan-status tuan-status-online">上线中</i>
                        </template>
                        <template v-if="tuan.status==2">
                            <i class="tuan-status tuan-status-offline">已下线</i>
                        </template>
                    </p>
                    <ul class="ui-tiled ui-tiled-stat">
                        <li><i class="gray" v-text="tuan.order_count"></i><div>全部订单</div></li>
                        <li><i class="gray" v-text="tuan.claimed_order_count"></i><div>已认领</div></li>
                        <li><i class="gray" v-text="tuan.unclaimed_order_count"></i><div>未认领</div></li>
                    </ul>
                </li>
            </ul>
            <div class="ui-center" v-else>
                <p class="ui-txt-info">无活动</p>
            </div>
        </listview>
    </section>
</div>
