<!-- target: TPL_site_resetpassword -->
<div class="site-resetpassword">
    <!-- use: TPL_common_page_header(title="重置密码") -->
    <section class="ui-container">
        <div class="ui-tips ui-tips-warn">
            <i></i><span>温馨提示：<br>请尽量不要将密码设置为个人财产密码!</span>
        </div>
        <div class="ui-form ui-border-t">
            <form @submit.prevent="submit">
                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="phone">手机号</label>
                    <input id="phone" v-model="phone" type="text" placeholder="请输入手机号">
                    <a href="#" tabindex="-1" class="ui-icon-close" v-show="phone" @click.prevent="phone=''"></a>
                </div>
                <div class="ui-form-item ui-form-item-show ui-form-item-r ui-border-b">
                    <label for="verifyCode">验证码</label>
                    <input id="verifyCode" style="padding-left: 95px" v-model="verifyCode" type="text" placeholder="请输入验证码">
                    <button type="button" class="ui-border-l" :disabled="isVerifyCodeSended" @click="sendVerifyCode" v-text="verifyCodeText"></button>
                    <a href="#" tabindex="-1" class="ui-icon-close" v-show="verifyCode" @click.prevent="verifyCode=''"></a>
                </div>
                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="newpwd">新密码</label>
                    <input id="newpwd" v-model="newpwd" type="password" placeholder="请输入要修改的新密码">
                    <a href="#" tabindex="-1" class="ui-icon-close" v-show="newpwd" @click.prevent="newpwd=''"></a>
                </div>
                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="confirmpwd">确认新密码</label>
                    <input id="confirmpwd" v-model="confirmpwd" type="password" placeholder="请再次确认新密码">
                    <a href="#" tabindex="-1" class="ui-icon-close" v-show="confirmpwd" @click.prevent="confirmpwd=''"></a>
                </div>
                <!-- 加一个隐藏的button，以支持`回车`提交表单 -->
                <button style="display: none;"></button>
            </form>
        </div>
        <div class="ui-btn-wrap">
            <button class="ui-btn ui-btn-danger ui-btn-lg" @click="submit">确认重置</button>
        </div>
    </section>
</div>
