<!DOCTYPE html>
{{assign var="STATIC_URL" value=$smarty.const.STATIC_URL}}
{{assign var="CHEDAMAI_URL" value=$smarty.const.CHEDAMAI_URL}}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content="{{block name='keywords'}}车大卖 团购 活动 购车{{/block}}" />
    <meta name="description" content="{{block name='description'}}车大卖营销管理系统{{/block}}" />
    <meta name="_csrf" content="{{$app->request->csrfToken}}">
    <title>{{block name='title'}}验证手机号{{/block}}</title>
    <link rel="stylesheet" href="/static/css/site/chedamai_login.css">
    <script>
        var GLOBAL = {};
        GLOBAL['STATIC_URL'] = '{{$STATIC_URL}}';
        {{if $app->user->isGuest}}
            GLOBAL['USER'] = {isGuest:true};
        {{else}}
            GLOBAL['USER'] = {
                isGuest:false,
                phone: '{{$app->user->getIdentity()->phone}}'
            };
        {{/if}}
    </script>
    {{include file="includes/tongji.html"}}
</head>
<body>
<noscript>
    <div class="nojs">
        <p>您的浏览器已经禁用了JavaScript脚本的执行，这会影响您正常使用本站的功能。</p>
    </div>
</noscript>
<div class="container">
    <div class="login-header">
        <h2>验证手机号</h2>
    </div>
    <div class="loginbox" v-cloak>
        <form @submit.prevent="login">
            <input type="hidden" name="url" value="{{$smarty.get.url|default:''}}">
            <div class="form-item">
                <div class="textbox">
                    <i class="icon-phone"></i>
                    <input type="tel" v-model="phone" @focus="hideErrorMessage" placeholder="请输入您的手机号码">
                </div>
            </div>
            <div class="form-item form-item-right">
                <div class="textbox">
                    <i class="icon-psd"></i>
                    <input type="tel" v-model="verifyCode" @focus="hideErrorMessage" placeholder="请输入验证码">
                </div>
                <button type="button" @click="sendVerifyCode" :disabled="!canSendVerifyCode" class="btn vcode-btn" v-text="verifyCodeText"></button>
            </div>
            <div class="form-item" v-show="!hasName">
                <div class="textbox">
                    <i class="icon-user"></i>
                    <input type="text" v-model="username" @focus="hideErrorMessage" placeholder="请输入您的姓名">
                </div>
            </div>
            <div class="form-item">
                <button type="submit" class="btn btn-block" v-text="loginText"></button>
            </div>
            <div class="error-info" v-text="loginErrorMessage"></div>
        </form>
        <p class="tip">如一直无法收到验证码，请检查短信是否被拦截，或者更换手机号码</p>
    </div>
</div>
<script src="/static/js/env.js"></script>
<script src="/static/libs/zepto.min.js"></script>
<script src="/static/libs/vue.js"></script>
<script src="/static/ui/frozen.js"></script>
<script src="/static/js/site/chedamai_login.js"></script>
</body>
</html>