<!DOCTYPE html>
{{assign var="MENU_NAME" value=""}}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="_csrf" content="{{$app->request->csrfToken}}">
    <title>信息提示页</title>
    <script>
        window.GLOBAL = {};
        GLOBAL['STATIC_URL'] = '{{$smarty.const.STATIC_URL}}';
        {{if $app->user->isGuest}}
        GLOBAL['USER'] = {isGuest:true};
        {{else}}
        GLOBAL['USER'] = {
            isGuest:false,
            phone: '{{$app->user->getIdentity()->phone}}'
        };
        {{/if}}
    </script>
    {{if $app->controller->id neq "tuan"}}
    <script src="/static/libs/jquery.js"></script>
    <script src="/static/libs/pintuer.js"></script>
    <script src="/static/js/env.js"></script>
    <script src="/static/libs/bootstrap/base.js"></script>
    <script src="/static/libs/bootstrap/scrollspy.js"></script>
    <script src="/static/libs/bootstrap/affix.js"></script>
    <script src="/static/libs/layer/layer.js"></script>
    <script src="/static/libs/jquery.lazyload.js"></script>
    <script src="/static/js/common.js"></script>
    {{/if}}
    <link rel="stylesheet" href="/static/css/pintuer.css">
    <link rel="stylesheet" href="/static/libs/layer/skin/layer.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/common.css">

    <!--[if lt IE 9]>
    <script src="/static/libs/respond.js"></script>
    <![endif]-->
    {{include file="includes/tongji.html"}}
</head>
<body>
<noscript>
    <div class="nojs">
        <p>您的浏览器已经禁用了JavaScript脚本的执行，这会影响您正常使用本站的功能。</p>
    </div>
</noscript>
{{assign var="isMall" value="`$app->controller->id != 'tuan' && $app->controller->id != 'coupon' && $app->controller->id != 'activity/voucher' && $app->controller->id != 'activity/coupon'`"}}
{{if $isMall}}
    {{include file="includes/header.html"}}
{{/if}}
<div class="container">
    <div class="margin-big-top">
        <div style="margin: 50px auto; text-align: center">
            <div>
                <img src="/static/images/msgtip.png" style="max-width: 100%;">
            </div>
            <div>
                <div>{{$message}}</div>
                <div class="padding-big">
                    {{if $isMall}}
                    <a href="/" class="button bg-yellow">返回首页</a>
                    {{else}}
                    <a href="javascript:history.back();void(0);" class="button bg-yellow">返回</a>
                    {{/if}}
                    {{if isset($forward)}}
                    <a href="{{$forward}}" class="button">{{$forwardText}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{if $isMall}}
    {{include file="includes/footer.html"}}
{{/if}}
</body>
</html>
