<!-- target: TPL_staff_role_distribute_user_child -->
<div class="staff-role-distribute-user bbmc-content-wrap">
    <div class="bbmc-detail-content">
        <!--  <h1 class="page-title">给<em>${user.username}</em>分配角色</h1>-->
        <div class="row">
            <div class="col-md-4">
                <div class="bbmc-box">
                    <h2>角色列表</h2>
                    <div>
                        <!-- import: listTableWithCommand -->
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bbmc-box">
                    <h2>
                        组角色
                    </h2>
                    <div class="tips" v-show="roles.staffGroup.length==0">
                        还没有分配任何角色
                    </div>
                    <ul class="role-list role-group-list" v-show="roles.staffGroup.length">
                        <li v-for="role in roles.staffGroup">
                            <span v-text="role.name"></span>
                        </li>
                    </ul>
                </div>
                <div class="bbmc-box">
                    <h2>
                        用户角色
                    </h2>
                    <div class="tips" v-show="roles.staff.length==0">
                        还没有分配任何角色
                    </div>
                    <ul class="role-list" v-show="roles.staff.length">
                        <li v-for="role in roles.staff">
                            <span v-text="role.name"></span>
                            <button @click="removeRole(role)" class="remove" type="button" title="删除">╳</button>
                        </li>
                    </ul>

                    <!--      <div class="ui-row">
                              <button data-ui-type="Button" data-ui-id="saveBtn" data-ui-skin="warn">保存</button>
                          </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- target: TPL_staff_role_distribute_user -->
<div class="breadcrumb bbmc-breadcrumb">
    <span>权限管理</span>
    <!--<span class="divider">/</span>-->
    <!--<a href="#/access/user/list">用户列表</a>-->
    <span class="divider">/</span>
    <span class="active">角色分配</span>
</div>
<!-- import: TPL_staff_role_distribute_user_child -->
