<!-- target: TPL_refund_index -->
<div class="refund-index">
    <div class="refund-form" v-if="refund">
        <div class="refund-confirm-info">
            <h1>车大卖退款确认单</h1>
            <div class="amount">
                <h2>退款金额</h2>
                <div>
                    <i v-text="refund.amount/100"></i>元
                </div>
                <p v-text="refund.amount/100|money"></p>
            </div>
            <ul class="confirm-list">
                <li>
                    <div class="list-title">退款方</div>
                    <div class="list-detail">爱车车（北京）网络科技有限公司</div>
                </li>
                <li>
                    <div class="list-title">创建时间</div>
                    <div class="list-detail" v-text="refund.created_time|date"></div>
                </li>
                <li>
                    <div class="list-title">退款事由</div>
                    <div class="list-detail" v-text="refund.reason"></div>
                </li>
                <li>
                    <div class="list-title">收款方</div>
                    <div class="list-detail" v-text="refund.receiving_side"></div>
                </li>
                <li>
                    <div class="list-title">收款账号</div>
                    <div class="list-detail" v-text="refund.receiving_account"></div>
                </li>
                <li>
                    <div class="list-title">开户行</div>
                    <div class="list-detail" v-text="refund.receiving_bank"></div>
                </li>
                <li>
                    <div class="list-title">经手人</div>
                    <div class="list-detail" v-text="refund.handler"></div>
                </li>
            </ul>
        </div>
        <div class="signature">
            <h2>签名确认</h2>
            <div class="signature-box" @click="showSignature">
                <img :src="signatureImage" v-if="signatureImage">
                <p v-else>点击此处进行手写签名</p>
            </div>
            <div class="signature-act ui-btn-wrap" v-if="!refund.sign">
                <button @click="submit" class="ui-btn-lg ui-btn-danger" type="button">确认提交</button>
            </div>
            <div class="signature-act ui-btn-wrap" v-if="refund.sign">
                <span class="checked"><i class="ui-icon-checked-s"></i>已提交</span>
            </div>
        </div>
    </div>
    <div class="refund-error" v-if="!refund">
        <p>退款确认单不存在</p>
    </div>
    <div class="signature-view" v-show="isSignature">
        <h2>建议在横屏模式下进行签名</h2>
        <div class="signature-canvas"><signature v-ref:signature></signature></div>
        <div class="signature-act ui-btn-group">
            <button class="ui-btn-lg ui-btn-danger" type="button" @click="clear">重签</button>
            <button class="ui-btn-lg ui-btn-danger" type="button" @click="confirmSignature">确认</button>
        </div>
    </div>
</div>
