{{extends file="../coupon/layout.html"}}
{{block name='title'}}订单 - {{$voucher.name|escape:'html'}}{{/block}}
{{block name="head"}}
<link rel="stylesheet" href="/static/css/activity/voucher/index.less">
{{/block}}
{{block name="body"}}
<input type="hidden" name="activityId" value="{{$activity.id}}">
<input type="hidden" name="voucherId" value="{{$voucher.id}}">
<input type="hidden" name="orderId" value="{{$order.order_id}}">
<section class="voucher-part">
    <div class="voucher">
        <div class="img">
            <img src="{{$voucher.image_url|cdnfix}}@70w_70h_1e_1c_70-1ci.png" alt="{{$voucher.name|escape:'html'}}" width="70" height="70">
        </div>
        <div class="content">
            <h3>{{$voucher.name|escape:'html'}}</h3>
            <p>{{$voucher.brief|escape:'html'}}</p>
        </div>
        <div class="voucher-info">
            <div class="info">
                <div class="payinfo">
                    {{if $order.status eq '1'}}
                    <div class="order-result">
                        <!--支付成功-->
                        {{if $order.amount neq '0'}}
                        <h4>￥{{$order.amount/100}}元</h4>
                        {{/if}}
                        <div class="qrcode">
                            <img src="/tuan/qrcode?text={{$CHEDAMAI_URL|escape:'url'}}{{urlencode('/voucher/order/check?cn=')}}{{$order.cn}}" width="150" height="150">
                        </div>
                        <p class="checkcode">核销码<br><i>{{$order.cn}}</i></p>
                        {{if $order.amount neq '0'}}
                        <button type="button" class="btn btn-refund">申请退款</button>
                        {{/if}}
                    </div>
                    <!--未支付-->
                    {{elseif $order.status eq '2' || $order.status eq '3'}}
                    <button type="button" class="btn btn-pay">￥{{$order.amount/100}}元，立即支付</button>
                    {{elseif $order.status eq '4'}}
                    <button type="button" class="btn">退款中</button>
                    {{elseif $order.status eq '5'}}
                    <p class="checkcode">核销码<br><i>{{$order.cn}}</i></p>
                    <button type="button" class="btn">已使用</button>
                    {{/if}}
                </div>
                <dl>
                    <dt>有效期：</dt>
                    <dd>
                        {{$voucher.start_time|date_format:'%Y.%m.%d'}} -
                        {{if $voucher.end_time eq '0'}}长期有效{{else}}{{$voucher.end_time|date_format:'%Y.%m.%d'}}{{/if}}
                    </dd>
                </dl>
                <dl>
                    <dt>使用须知：</dt>
                    <dd>{{$voucher.instruction|escape:'html'|nl2br}}</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section class="part text-center">
    <a class="btn btn-view-activity" href="/activity/coupon/{{$activity.id}}.html">查看活动详情</a>
</section>
<section class="part part-line seller">
    <h2><span>购车顾问</span></h2>
    <div class="part-content">
        {{if $order.used_channel == '0'}}
            {{v_seller file="/includes/seller.html" activityId="`$activity.id`" channelId="`$order.signup_channel`"}}
        {{else}}
            {{v_seller file="/includes/seller.html" activityId="`$activity.id`" channelId="`$order.used_channel`"}}
        {{/if}}
    </div>
</section>
{{/block}}
{{block name="js"}}
{{weixin_share
    activityId="`$activity.id`"
    title="`$voucher.name|escape:'html'`"
    titleFormat='{0}邀请您领取“{1}”'
    desc="`$voucher.brief|escape:'html'`"
    link="/activity/voucher/`$activity.id`/`$voucher.id`"
    imgUrl="http:`$voucher.image_url|cdnfix`"}}
<script src="/static/js/activity/voucher/voucher.js"></script>
<script src="/static/js/activity/voucher/order.js"></script>
{{/block}}